<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome To Banking System</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/40004fdddb.js" crossorigin="anonymous"></script>
        <style>
            a{
                color:#182696
            }
            #p1
            {
                text-align:justify;
            }
            #p2
            {
                color:rgb(63, 9, 138);
            } 
            footer
            {
                position:center;
                bottom: 0;
                margin-top: 30%;
            }
        </style>
    </head>
  
        <header>
            <img src="static/images/bank.jpg"  width="100%"  height="200px">    
        </header>


    <body>
        {% include ('portalmenu.html') %}

        <br>
        
        {% include ('footer.html') %}
    </body>
</html>         